* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

.container-fw {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}

.navbar-principale {
  width: 200px;
  background-color: black;
  height: calc(100vh - 72px);
  float: left;
  display: flex;
  flex-direction: column;
  color: #8b8b8b;
  position: fixed;
}

.contenitore-box0 {
  display: flex;
  justify-content: left;
  /*height: 10%;*/
  height: 50px;
  margin-top: 10px;
}

.contenitore-box1 {
  /* height: 15%;*/
  height: 100px;
  margin-top: 20px;
  font-size: 14px;
  font-weight: lighter;
}
.contenitore-box2 {
  /*height: 65%;*/
  height: 400px;
  font-size: 14px;
  font-weight: lighter;
}

.contenitore-basso {
  /*height: 10%;*/
  height: 60px;
  font-size: 16px;
  padding-left: 5px;
  font-size: 14px;
  font-weight: lighter;
}

.box1,
.box1 h3,
.box1 i {
  display: flex;
  justify-content: left;
  padding-left: 5px;
  padding-bottom: 6px;
}

.box2,
.box2 h3,
.box2 p {
  display: flex;
  justify-content: left;
  padding-left: 5px;
  padding-bottom: 2px;
}

.box2 h2 {
  font-size: 16px;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 5px;
}

.box2 h3,
.box2 .fa-plus-square {
  padding-top: 5px;
  padding-bottom: 10px;
}

.box2 p {
  margin-bottom: 7px;
}

.box2 .fas {
  font-size: 20px;
}

#logo .fab {
  font-size: 33px;
  color: white;
  padding: 5px 0 0 5px;
}

.navbar-principale h1 {
  font-size: 22px;
  padding: 10px 0 0 10px;
}

hr {
  width: 85%;
  margin: 5px auto;
  border: 0.5px solid #8b8b8b;
}

/*************** MAIN **************/

main {
  background-color: #141922;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: calc(100% - 200px);
  margin-left: 200px;
}

.barra-scura {
  height: 70px;
  width: calc(100% - 200px);
  position: fixed;
  top: 0;
  left: 200px;
  display: flex;
  justify-content: flex-end;
  background-color: rgba(20, 25, 34, 0.9);
  z-index: 999;
}

.barra-scura button {
  height: 40px;
  width: 150px;
  align-self: center;
  border-radius: 20px;
  border: 1px solid white;
  background-color: #141922;
  color: white;
  margin-right: 25px;
}

.main-nav {
  margin-top: 90px;
  width: 100%;
  color: #8b8b8b;
  font-size: 14px;
  max-width: 600px;
}

.main-nav ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  list-style: none;
  text-transform: uppercase;
}

.main-nav ul li {
  padding: 0px 10px 0px 10px;
  padding: 10px;
}

.contenitore-album {
  width: 99%;
}

.contenitore-album h2,
.contenitore-album h5 {
  color: white;
  margin-top: 10px;
  font-weight: lighter;
  padding-left: 20px;
}

.contenitore-album h5 {
  font-weight: lighter;
  font-size: 15px;
  margin-bottom: 10px;
  color: #8b8b8b;
}

section {
  padding-bottom: 80px;
}

#focus {
  padding-top: 50px;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: 20px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.card {
  width: 200px;
  height: 170px;
  margin-top: 40px;
  position: relative;
  flex-basis: 200px;
  margin-left: 25px;
}

.titolo-canzone {
  font-size: 20px;
  color: white;
  width: 110px;
  margin-top: 10px;
}

.small {
  font-size: 12px;
  color: #8b8b8b;
  width: 110px;
  margin-top: 5px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgb(0, 0, 0);
}

.overlay .far {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  color: white;
}

.overlay:hover {
  opacity: 0.5;
}

#artisti-popolari .card img,
#nuove-uscite-popolari .card img {
  border-radius: 50%;
}

#artisti-popolari .overlay,
#nuove-uscite-popolari .overlay {
  border-radius: 50%;
}

.coppia {
  display: flex;
  flex-wrap: nowrap;
}

/************ BARRA DI RIPRODUZIONE**********/

.riproduttore {
  width: 100%;
  height: 72px;
  background-color: #282828;
  position: fixed;
  bottom: 0px;
  display: flex;
}

.scatola {
  width: 33%;
}

.scatola-sx {
  display: flex;
  flex-direction: row;
  width: 200px;
}
.scatola-dx {
  width: 200px;
}

.scatola-ct {
  width: calc(100% - 400px);
  min-width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.scatolina1 {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.scatolina1 img {
  height: 50px;
  width: 50px;
  margin-left: 10px;
  margin-right: 10px;
}

.scatolina2 {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: #8b8b8b;
}

.scatolina2 .far {
  padding-left: 10px;
  padding-right: 10px;
}

.paragrafi {
  display: flex;
  flex-direction: column;
  padding-left: 5px;
  min-width: 80px;
}

.paragrafi .titolo {
  color: white;
}

.paragrafi .autore {
  color: #8b8b8b;
  font-size: 11px;
}

.colonna1,
.colonna2 {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.colonna1 {
  min-width: 220px;
  max-width: 220px;
  align-self: center;
  justify-content: space-between;
  color: white;
  align-items: center;
}

.colonna2 {
  min-width: 220px;
  max-width: 100%;
  align-self: center;
  align-items: center;
  justify-content: space-around;
  color: white;
}

.colonna2 hr {
  border: 1px solid white;
  width: 60%;
}

.time {
  font-size: 10px;
}

.contenitore-img-e-overlay {
  position: relative;
}

/************* VERSIONE TABLET E MOBILE **********/

@media screen and (max-width: 576px) {
  .navbar-principale {
    width: 50px;
  }

  h1 {
    display: none;
  }

  .box1 h3,
  .box2 {
    display: none;
  }

  .box2 {
    height: 90%;
  }

  .contenitore-basso {
    margin-top: 60px;
  }

  .contenitore-basso small {
    display: none;
  }

  main {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: calc(100% - 50px);
    margin-left: 50px;
  }
  .barra-scura {
    left: 50px;
    width: calc(100% - 50px);
  }

  .box1 .fas {
    margin-top: 20px;
  }

  .contenitore-box0,
  .contenitore-box1,
  .contenitore-box2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  .box1 {
    align-self: center;
    padding: 0;
  }

  #logo {
    align-self: center;
  }

  .cards {
    justify-content: center;
    width: auto;
  }

  .cards img,
  .card {
    width: 200px;
  }

  .main-nav {
    width: 70%;
    min-width: 400px;
  }

  .coppia {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 731px) {
  .cards {
    justify-content: center;
  }

  .card {
    width: 140px;
  }

  .card img {
    width: 140px;
    height: 140px;
  }

  .coppia {
    width: 100%;
    justify-content: space-evenly;
  }
}

@media screen and (min-width: 732px) {
  .coppia {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
  }

  .card,
  .card img,
  .small,
  .titolo-canzone {
    width: 120px;
  }
}

@media screen and (min-width: 991px) {
  .coppia {
    width: 33.3333%;
  }

  .card,
  .card img,
  .small,
  .titolo-canzone {
    width: 110px;
  }
}

@media screen and (max-width: 576px) {
  .coppia {
    width: 100%;
    justify-content: space-evenly;
    padding-left: 15px;
    padding-right: 15px;
  }

  .card {
    height: 230px;
    width: 170px;
    margin-left: 5px;
  }

  .card img,
  .small,
  .titolo-canzone {
    height: 170px;
    width: 170px;
  }
}
